body {
    background-color: #FFFF99;
}

h1,
h2,
p {
    text-align: center;
}

.main-div {
    max-width: 750px;
    /* Setting margin-left and margin-right to auto centers our main-div class. */
    margin-left: auto;
    margin-right: auto;
}

.main-div,
.menu,
.sidebar {
    overflow: auto;
    padding: 20px;
}

.menu,
.sidebar {
    height: 100%;
    width: 150px;
    /* The "A" at the end of the color white tells how transparent the white should be.
    #FFFA (the highest values for red, green, and blue with transparency set to A) is shorthand for #FFFFFFAA which is white with a transparency set to AA.
    */
    /* 0 is the least intense for a color, and the most transparent for the alpha value. F is the most intense, and least transparent. */
    background-color: #FFFA;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.menu {
    top: 0;
    left: 0;
}

.menu a {
    display: block;
}

.sidebar {
    top: 0;
    right: 0;
}

/* Small, and extra small devices (portrait tablets, large phones, and phones; 768px and down) */
@media screen and (max-width: 768px) {
    .main-div {
        width: 80%;
    }

    .menu,
    .sidebar {
        width: 80%;
        position: relative;
    }

    .menu a {
        text-align: center;
        display: inline;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main-div {
        width: 55%;
    }

    .menu,
    .sidebar {
        width: 10%;
        position: fixed;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .menu,
    .sidebar {
        width: 15%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .main-div {
        width: 50%;
        max-width: 800px;
    }

    .menu,
    .sidebar {
        max-width: 250px;
    }
}

/* The below code hides our menu sidebar if the user decides to print the webpage. */
/* TODO: If more content is added to the sidebar other than quotes that may not be something you would want to print out, add IDs in the HTML and add those selectors below to exclude them from printing. */
@media print {

    .menu {
        display: none;
    }

    .main-div {
        width: 80%;
    }

    .menu,
    .sidebar {
        width: 80%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
}
